@tailwind base;
@tailwind components;
@tailwind utilities;

/* html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  font-family: 'Poppins', sans-serif;
} */


* {
  font-family: 'Poppins', sans-serif;
} 

.carousel .thumbs-wrapper{
  margin: 0;
  overflow: hidden;
}

.carousel .control-dots {
  position: absolute;
  bottom: 0;
  margin: 0;
  text-align: center;
  width: 100%;
  z-index: 1;
}

.carousel .control-dots .dot{
  transition: opacity .25s ease-in;
  opacity: .3;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.9);
  background: black;
  border-radius: 50%;
  width: 8px;
  cursor: pointer;
  margin: 0 8px;
  height: 8px;
  display: inline-block;
}



.bg-layers {
  -webkit-animation: filter-animation 4s infinite;
  animation: filter-animation 4s infinite;
}

.bg-scale {
  -webkit-animation: filter-animation 8s infinite;
  animation: filter-scale 8s infinite;
}

@-webkit-keyframes filter-animation {
  0% {
    -webkit-filter: hue-rotate(0deg);
  }
  50% {
    -webkit-filter: hue-rotate(45deg);
  }
  
  100% {
    -webkit-filter: hue-rotate(0deg);
  }
}

@keyframes filter-animation {
  0% {
    filter: hue-rotate(0deg);
  }
  50% {
    filter: hue-rotate(45deg);
  }
  100% {
    filter: hue-rotate(0deg);
  }
}

@keyframes filter-scale {
  0% {
    transform:scale(1);
  }
  50% {
    transform:scale(1.4);
  }
  100% {
      transform:scale(.8);
  }
}